## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import random

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max_Temp,Weather_Description,Lat,Lng,Hotel Name
0,1,bambous virieux,MU,80.60,broken clouds,-20.34,57.76,Casa Tia Villa
1,6,butaritari,KI,82.35,broken clouds,3.07,172.79,Isles Sunset Lodge
2,8,acarau,BR,78.17,few clouds,-2.89,-40.12,castelo pizzaria
3,13,busselton,AU,77.00,clear sky,-33.65,115.33,Observatory Guest House
4,14,lorengau,PG,82.78,scattered clouds,-2.02,147.27,Lorengau Harbourside Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather Description and Max Temp</dt><dd>{Weather_Description} \tMax Temp: {Max_Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_df

,City_ID,City,Country,Max_Temp,Weather_Description,Lat,Lng,Hotel Name
0,1,bambous virieux,MU,80.60,broken clouds,-20.34,57.76,Casa Tia Villa
1,6,butaritari,KI,82.35,broken clouds,3.07,172.79,Isles Sunset Lodge
2,8,acarau,BR,78.17,few clouds,-2.89,-40.12,castelo pizzaria
3,13,busselton,AU,77.00,clear sky,-33.65,115.33,Observatory Guest House
4,14,lorengau,PG,82.78,scattered clouds,-2.02,147.27,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...,...
441,1767,kruisfontein,ZA,77.00,overcast clouds,-34.00,24.73,Oyster Bay House Rental
442,1783,yulara,AU,77.00,clear sky,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
443,1788,port hedland,AU,82.40,clear sky,-20.32,118.57,The Esplanade Hotel
444,1800,port elizabeth,ZA,77.00,scattered clouds,-33.92,25.57,39 On Nile Guest House
445,1805,carnarvon,AU,78.80,clear sky,-24.87,113.63,Hospitality Carnarvon

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[]
vacation_end = vacation_df.loc[]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure